<%- include("partials/header.ejs") %>

<section class="container section">
    <div class="columns mt-5">
        <div class="column">
            <div class="card">
              <form action="/submit" method="post">
                <header class="card-header has-background-primary">
                  <p class="card-header-title is-size-3 has-text-weight-bold has-text-dark">Post a Blog</p>
                </header>
                <div class="card-content">
                    <!-- <h1 class="title"></h1> -->
                    <div class="field">
                      <label class="label">Title</label>
                      <div class="control">
                        <input class="input" type="text" name="title" placeholder="Text input" required>
                      </div>
                    </div>
                    
                    <div class="field">
                      <label class="label">Content</label>
                      <div class="control">
                        <textarea class="textarea" name="content" placeholder="Textarea" required></textarea>
                      </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="card-footer-item">
                        <button class="button is-text is-medium is-fullwidth">Cancel</button>
                    </div>
                    
                    <div class="card-footer-item">
                        <button class="button is-black is-medium is-fullwidth has-text-primary">Post</button>
                    </div>
                </footer>
              </form>
            </div>
        </div>
        <div class="column">
            <div class="card ">
              <header class="card-header has-background-warning">
                <p class="card-header-title is-size-3 has-text-weight-bold has-text-dark">Blog Feed</p>
              </header>
              <div class="card-content scrollable-container">
                <% if(locals.blog && blog.length > 0){ %>
                  <% for(var i = 0; i < blog.length; i++){ %>
                    <div class="content">
                      <div class="card blog">
                          <header class="card-header">
                            <p class="card-header-title"><%= blog[i].title %></p>
                            <button class="card-header-icon" aria-label="more options">
                              <span class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </button>
                          </header>
                          <div class="card-content">
                            <div class="content">
                              <%= blog[i].content %>
                            </div>
                          </div>
                          <footer class="card-footer">
                            <a href="javascript:void(0);" data-id="<%= blog[i].id %>" class="card-footer-item has-text-grey-light edit-blog">Edit</a>
                            <a href="javascript:void(0);" data-id="<%= blog[i].id %>" class="card-footer-item has-text-warning delete-blog">Delete</a>
                          </footer>
                        </div>
                    </div>
                  <% } %>
                <% } else { %> 
                  <p>No blogs posted.</p>
                <% } %>
              </div>
            </div>
        </div>
      </div>

      <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Edit Blog</p>
            <button class="delete close-modal" aria-label="close"></button>
          </header>
          <form action="/update" method="post">
            <section class="modal-card-body">
                <div class="card-content">
                  <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                      <input class="input" type="hidden" name="id" placeholder="Text input">
                      <input class="input" type="text" name="update_title" placeholder="Text input" required>
                    </div>
                  </div>
                  
                  <div class="field">
                    <label class="label">Content</label>
                    <div class="control">
                      <textarea class="textarea" name="update_content" placeholder="Textarea" required></textarea>
                    </div>
                  </div>
                </div>
            </section>
            <footer class="modal-card-foot">
              <div class="buttons">
                <button type="submit" class="button is-success">Save changes</button>
                <button class="button close-modal">Cancel</button>
              </div>
            </footer>
        </form>
        </div>
      </div>

</section>




<%- include("partials/footer.ejs") %>